openapi: 3.0.1
info:
  title: Publication API 
  description: This API provides operations for submission of notices for publication and their follow-up
  license:
    name: EUPL
    url: https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
  version: 1.1.6
servers:
  - description: Generated server url
    url: https://enotices2.ted.europa.eu/esenders
security:
  - esenders-token: []
paths:
  /api/notice/notices/{NoticeId}/validation-report:
    get:
      tags:
        - Notice
      summary: Get notice validation report
      description: Get validation report created during notice submission request
      operationId: getValidationReport
      parameters:
        - name: NoticeId
          description: Notice identifier
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The report is returned.
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '404': 
          description: |-
            Possible issues:
            - Notice with given NoticeId not found
            - Report for given NoticeId not found (it can be that is temporarily not available, please re-try later)
          content:
            application/json: {}
        '500':
          description: |-
            Possible issues:
            - TED API key is missing or is not valid.
            - No Enotices2 account found for the EU login account identified by provided TED API key.
            - Several versions of notice with given NoticeId exist.
          content:
            application/json: {}
         
  /api/notice/notices/{NoticeId}/stop-publication-esentool:
    post:
      tags:
        - Notice
      summary: Request stop notice publication
      operationId: stopPublicationEsentool
      parameters:
        - name: NoticeId
          description: Notice identifier
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notice publication stopped
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EsentoolNoticeDto'
        '403': 
          description: |-
            Possible issues:
            - Notice publication cannot be stopped
          content:
            application/json: {}
        '404': 
          description: |-
            Possible issues:
            - Notice with given NoticeId not found
          content:
            application/json: {}
        '500':
          description: |-
            Possible issues:
            - TED API key is missing or is not valid.
            - No Enotices2 account found for the EU login account identified by provided TED API key.
            - Several versions of notice with given NoticeId exist.
          content:
            application/json: {}

  /api/notice/notices/submit:
    post:
      tags:
        - Notice
      summary: Submit XML notice
      operationId: submitNotice
      parameters:
        - name: metadata
          description: the metadata are used to identify the original author of the notice
          schema:
            $ref: '#/components/schemas/NoticeAuthor'
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - metadata
                - notice
              type: object
              properties:
                notice:
                  type: string
                  format: binary
                metadata:
                  $ref: '#/components/schemas/NoticeAuthor'
      responses:
        '201':
          description: Notice created. Notice status, Submitted or Validation_failed depends on the results of the validation - success=true/false)
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/XmlNoticeSubmissionDto'
        '404':
          description: |-
            Possible issues:
            - No compatible SDK version found
          content:
            application/json: {} 
        '500':
          description: |-
            Possible issues:
            - TED API key is missing or is not valid.
            - No Enotices2 account found for the EU login account identified by provided TED API key.
            - Notice cannot be created (parsing errors)
            - Notice with the same NoticeId and versionId already exists.
          content:
            application/json: {}
  
  /api/notice/notices/search-esentool:
    get:
      tags:
        - Notice
      summary: search procedures
      operationId: searchProceduresEsentool
      parameters:
        - name: page
          description: Sequence number of the page from the search results list.
          in: query
          required: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: size
          description: Number of search results per page.
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 20
        - name: sortProperty
          description: Selected property used in ordering the search results.
          in: query
          required: false
          schema:
            type: string
        - name: sortDirection
          description: Ascending or descending order, in case ordering is set.
          in: query
          required: false
          schema:
            type: string
            default: ASC
            enum:
              - ASC
              - DESC
        - name: searchNoticesEsentool
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/SearchNoticesEsentool'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EsentoolPageDtoEsentoolNoticeDto'
        '500':
          description: |-
            Possible issues:
            - TED API key is missing or is not valid.
            - No Enotices2 account found for the EU login account identified by provided TED API key.
          content:
            application/json: {}
components:
  schemas:
    EsentoolNoticeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        versionId:
          type: string
        procedureId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - DRAFT
            - SUBMITTED
            - STOPPED
            - PUBLISHING
            - PUBLISHED
            - DELETED
            - NOT_PUBLISHED
            - CONVERTED_FROM_PUBLISHED
            - ARCHIVED
            - VALIDATION_FAILED
        updatedAt:
          type: string
          format: date-time
        submittedAt:
          type: string
          format: date-time
        publicationId:
          type: string
        publicationDate:
          type: string
          format: date
        noticeType:
          type: string
        legalBasis:
          type: string
        languages:
          type: array
          items:
            type: string
    NoticeAuthor:
      type: object
      properties:
        noticeAuthorEmail:
          type: string
        noticeAuthorLocale:
          type: string
    XmlNoticeSubmissionDto:
      type: object
      properties:
        cvsLink:
          type: string
        success:
          type: boolean
    SearchNoticesEsentool:
      type: object
      properties:
        id:
          type: string
          format: uuid
        versionId:
          type: string
        submittedBefore:
          type: string
          format: date-time
        submittedAfter:
          type: string
          format: date-time
        publishedBefore:
          type: string
          format: date-time
        publishedAfter:
          type: string
          format: date-time
        statuses:
          type: array
          items:
            type: string
            enum:
              - DRAFT
              - SUBMITTED
              - STOPPED
              - PUBLISHING
              - PUBLISHED
              - DELETED
              - NOT_PUBLISHED
              - CONVERTED_FROM_PUBLISHED
              - ARCHIVED
              - VALIDATION_FAILED
    EsentoolPageDtoEsentoolNoticeDto:
      type: object
      properties:
        totalSize:
          type: integer
          format: int64
        content:
          type: array
          items:
            $ref: '#/components/schemas/EsentoolNoticeDto'
  securitySchemes:
    esenders-token:
      type: http
      name: esenders-token
      description: TED API Key generated by TED Developer Portal
      scheme: bearer
      bearerFormat: JWT
